/*Configuração geral da página*/

body {
    font-family: 'Fragment Mono', monospace;
    background: linear-gradient(-45deg, #292a2b, #060b0c, #191e1f, #000000, #252728);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    animation: Gradiente 30s ease infinite;
    background-size: 400% 400%;
}

@keyframes Gradiente {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/*Barra de rolagem do site*/

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: #191e1f;
}

body::-webkit-scrollbar-thumb {
    background-color: #00BEDB;
    border-radius: 24px;
}


/*Topo da página*/

.topoPagina {
    font-family: 'Fragment Mono', monospace;
    color: #00BEDB;
    text-align: center;
    padding: 8px;
}

.imagemTexto {
    margin: 8px;
}

.imgTopo {
    border-radius: 50%;
    border: 4px solid #00BEDB;
    box-shadow: 2px 2px 2px #E8E8E8;
    width: 180px;
}

.tituloTopo {
    margin: 16px;
}


/*Menu*/

.botao-menu {
    padding: 8px;
    border: 1px solid #191e1f;
    color: #252728;
    text-decoration: none;
}

.botao-menu:hover {
    color: silver;
    background: #191e1f;
    transition: 0.2s;
}


/*Corpo principal da página*/

.corpoPrincipal {
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: 16px 0 24px 0;
    align-items: center;
}

.linkBotao {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Fragment Mono', monospace;
}


/*Seção dos projetos*/

.container-projetos {
    display: flex;
    flex-direction: row;
    margin: 16px;
}

.card-projeto {
    margin: 8px;
    border: 1px solid #191e1f;
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: space-between;
}

.titulo-projeto {
    color: silver;
    margin: 8px;
}

.texto-projeto {
    color: silver;
    text-align: justify;
    margin: 8px;
    font-size: 12px;
}


/**/


/*Botão Meus Projetos*/


/**/

.botao-projetos {
    text-decoration: none;
    color: rgb(108, 107, 107);
    font-family: 'Fragment Mono', monospace;
    border: 1px solid #191e1f;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

.botao-projetos:hover {
    color: #000000;
    background: #00BEDB;
}

.botao-projetos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #00BEDB;
    transition: all 0.3s;
}

.botao-projetos:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
    background: #00BEDB;
}

.botao-projetos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #00BEDB;
    transform: scale(1.3, 1.3);
}

.botao-projetos:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}


/**/


/*Botão e-mail*/


/**/

.botao-email {
    text-decoration: none;
    color: rgb(108, 107, 107);
    font-family: 'Fragment Mono', monospace;
    border: 1px solid #191e1f;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 400px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.botao-email:hover {
    color: #ffffff;
    background: #FF0000;
}

.botao-email::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #00BEDB;
    transition: all 0.3s;
}

.botao-email:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
    background: #FF0000;
}

.botao-email::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #FF0000;
    transform: scale(1.3, 1.3);
}

.botao-email:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}


/**/


/*Botão WhatsApp*/


/**/

.botao-whatsapp {
    text-decoration: none;
    color: rgb(108, 107, 107);
    border: 1px solid #191e1f;
    font-family: 'Fragment Mono', monospace;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 400px;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.botao-whatsapp:hover {
    color: #ffffff;
    background: #25d366;
}

.botao-whatsapp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #ffffff;
    transition: all 0.3s;
}

.botao-whatsapp:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
    background: #25d366;
}

.botao-whatsapp::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #25d366;
    transform: scale(1.3, 1.3);
    color: #ffffff;
}

.botao-whatsapp:hover::after {
    opacity: 1;
    transform: scale(1, 1);
    color: #ffffff;
}


/*Rodapé da página*/

.rodapePagina {
    color: #00BEDB;
    width: 100%;
    position: fixed bottom;
}

.textoFooter {
    font-family: 'Fragment Mono', monospace;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}